/** Scaffolding **/
#header {
  grid-row: 1;
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 5px solid;
  /** Alexa light ring effect */
  border-image: linear-gradient(
      to right,
      #5291de,
      #5291de 40%,
      #16eaed 42%,
      #16eaed,
      #16eaed 58%,
      #5291de 60%,
      #5291de
    )
    60;
  /** fallback, when border-image can't be used TODO TODO TODO */
  border-style: xxx;
}

#header-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  display: flex;
  justify-content: center;
}

.app-bar {
  background: #152939 !important;
}
