/** Scaffolding **/
#footer {
  grid-column: 1 / 3;
  grid-row: 3;

  display: grid;
  grid-template-columns: 1fr auto;
}

#footer-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#footer-controls {
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

#footer-controls a {
  height: 100%;
  display: flex;
  align-items: center;
}

/** Styles **/
#footer {
  align-items: center;
  border-top: 1px solid #435360;

  background-color: #152939;
  color: #ffffff;
}

#footer-controls a {
  padding: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

#footer-controls a:hover {
  background-color: #435360;
}
